include ../../inc/main-data.jade
//- - var subTitle = "제품정보 | 목록";
//- doctype html
//- html(lang='ko')
//- 	include ../../inc/head.jade
//- 	body.sub
//- 		div.loading
//- 			span.loader
//- 		div#wrap
//- 			div#container
ul.tab.col3
	- for( var i=0; i<lifeTab.length; i++ )
		if i==0
			li.active
				a(href='javascript:;')= lifeTab[i]
		else
			li
				a(href='javascript:;')= lifeTab[i]
div.img_list.type02
	ul
		- for ( var i = 0; i < lifeList.length; i++ )
			li(class= lifeList[i].recommand ? 'recommand' : '')
				//- a(href='#{path.html}05/life_view.html')
				a(href='toapp:appviewchange:detailview:라이프:/publish/html/05/life_view.html')
					span(class= lifeList[i].video ? 'thumb video' : 'thumb')
						span.img(style='background-image: url(#{path.img}dummy/#{lifeList[i].img});')
					div(class= lifeList[i].tag.length==0 ? 'info no_tag' : 'info')
						if ( lifeList[i].tag.length > 0 )
							span.tags
								- for ( var j = 0; j < lifeList[i].tag.length; j++ )
									span(class= 'tag ' + lifeList[i].tag[j].klass)= lifeList[i].tag[j].text
						p.title= lifeList[i].title
						span.etc
							span.read_cnt= lifeList[i].read
							span.like_cnt= lifeList[i].like
							span.reply_cnt= lifeList[i].reply
include ../../inc/more_and_top.jade

		//- // ui script load
		//- include ../../inc/scripts.jade
		//- script(type='text/javascript').
		//- 	//상품 더보기 - 테스트 용(개발 진행 시 삭제 요망)
		//- 	$('.btn_more').on('click', function(){
		//- 		var loader = "<li class='loader'><div class='item'></div></li>";
		//- 		$('.img_list ul').append(loader);
		//- 		$.ajax({
		//- 			url: '/publish/html/02/product_info_list_add.html',
		//- 			success: function(data){
		//- 				var $data = $(data);
		//- 				var timer = setTimeout(function(){
		//- 					$('.img_list ul').find('li.loader').remove();
		//- 					if ( $('.img_list ul li').length > 15 )
		//- 						alert('더 이상 상품이 없습니다.');
		//- 					else
		//- 						$('.img_list ul').append($data);
		//- 				}, 1000);
		//- 			},
		//- 			error: function(){
		//- 				$('.img_list ul').find('li.loader').remove();
		//- 				alert('상품 로드에 실패 하였습니다.');
		//- 			}
		//- 		});
		//- 	});