head
	//- base(href='http://yikl1004.github.io/bangpan')
	meta(charset='UTF-8')
	meta(name='robots', content='noindex, nofollow')
	meta(http-equiv='pragma', content='no-cache')
	meta(http-equiv='cache-control', content='no-cache')
	meta(http-equiv='Expires', content='-1')
	meta(http-equiv='Pragma', content='no-store')
	meta(name='format-detection', content='telephone=no')
	meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
	script.
		//- //window.location.href = 'toapp:appviewchange:detailview:제품정보:/front/front/beautynews/main.do';
	title #{siteTitle} | #{subTitle}
	link(rel='stylesheet', type='text/css', href='#{path.css}/font.css')
	link(rel='stylesheet', type='text/css', href='#{path.css}/reset.css')
	link(rel='stylesheet', type='text/css', href='#{path.css}/beautysquare.css')
	link(rel='stylesheet', type='text/css', href='#{path.css}/plugins/swiper.css')