script(type='text/javascript', src='#{path.js}/jquery-1.11.2.min.js')
script(type='text/javascript', src='#{path.js}/jquery.easing.1.3.js')
//- script(type='text/javascript').
//- 	var _ua = navigator.userAgent,	//유저 에이전트
//- 		_swiperVersion = _ua.indexOf('Android 2.3') !== -1 ? '2.0' : '3.3.1';	// load to swipe version
//- 	//swiper plugin load.
//- 	document.write("<script type='text/javascript' src='#{path.js}/plugins/swiper-" + _swiperVersion + ".min.js'><" + "/script>");
//- 	if ( _ua.indexOf('Android 2.3') !== -1 ) {
//- 		if ( document.body.className.length > 0 )
//- 			document.body.className += ' gingerbread';
//- 		else 
//- 			document.body.className = 'gingerbread';
//- 	}
script(type='text/javascript', src='#{path.js}/plugins/swiper-3.3.1.min.js')
script(type='text/javascript', src='#{path.js}/plugins/swiper-3.3.1.jquery.js')
script(type='text/javascript', src='#{path.js}/plugins/iscroll.js')
script(type='text/javascript', src='#{path.js}/cm.beautysquare.ui.js')