include ../../inc/main-data.jade
//- - var subTitle = "제품정보 | 목록"
doctype html
html(lang='ko')
	include ../../inc/head.jade
	body.sub
		div#wrap
			div.view_page
				div.user_info
					span.thumb.mask
						span.img(style='background-image: url(#{path.img}com/user01.jpg);')
					div.info
						span.employee
							span.tag_and_position
								span.grade.g1 여왕
								span.position 메이크업리더
								span.tag.new new
							span.name 박소영
							span.branch 구로디지털(방)
					div.update_time.today 2시간 전
				div#videoPlayer.video_wrap
					a.video
					video(poster='#{path.img}dummy/view_img01.jpg')
						source(src='http://www.w3schools.com/html/mov_bbb.mp4')
				div.view_content
					a.report
						span.ir 신고하기
					h2.tit 신규 오산 교육에 대해서
					p
						| 황영재사장님에 마음이 담긴 더치커피를 내려서 
						| 출근하는 카운셀러분들께 한잔씩을 주시는 걸 기분 
						| 좋게 하루를 출발합니다. 누구라고 할거없이 우리 
						| 사무실은 나이 드신 분들도 많고 젊은 분들도 많고 
						| 합니다.좋은 일 같이 축하하고 포장도 단체로 들어
						| 오면 모두 내일처럼 같이 해주고~요즘처럼 좋은 
						| 따뜻한 분위기 영원히 갔으면 하는 마음에 
						| 수성특약점 가족 모두를 칭찬하고 사랑합니다~♡ 
						| 수성 화이팅입니다!!
					img(src='#{path.img}dummy/content_img01.jpg', alt='')
					div.cnt_bookmark_area
						a.read_cnt(href='javascript:;') 1,586
						a.like_cnt(href='javascript:;') 152
						a.bookmark(href='javascript:;') 보관함

			div.container
				h2.tit.small
					span 댓글
					span.cnt 19
					a.btn_normal(href='#{path.html}05/life_reply_write.html') 댓글쓰기
				ul.reply_list
					li.admin
						span.user_info
							span.thumb.mask(style='background-image: url(#{path.img}dummy/admin_photo.png);')
								span.ir 관리자
							span.info
								span.user_name 뷰티스퀘어
							span.like_cnt 152
							span.update_time.today 2시간 전
						p.txt 방판교육팀 담당자입니다. 여러분들에 소중한 의견반영 하도록 하겠습니다~!
					li.best
						span.user_info
							span.thumb.mask(style='background-image: url(#{path.img}dummy/user01.jpg);')
								span.ir 홍길동
							span.info
								span.grade.g1 여왕
								span.user_name 홍길동
									span.branch 신구로 (영)
							span.like_cnt 152
							span.update_time.today 30분 전
						p.txt 새로 나온 시그니아 앰플은 정말 좋아요. 고객님들에게 샘플만 드려도 반응이 다르답니다.새로 나온 시그니아 앰플은 정말 좋아요. 고객님들에게 샘플만 드려도 반응이 다르답니다.
					li
						span.user_info
							span.thumb.mask(style='background-image: url(#{path.img}dummy/user02.jpg);')
								span.ir 장재호
							span.info
								span.grade.g2 여신
								span.user_name 장재호
									span.branch 신구로 (영)
							span.like_cnt 152
							span.update_time.today 2시간 전
						p.txt 방판교육팀 담당자입니다. 여러분들에 소중한 의견반영 하도록 하겠습니다~!
					li
						span.user_info
							span.thumb.mask(style='background-image: url(#{path.img}dummy/user03.jpg);')
								span.ir 강감찬
							span.info
								span.grade.g6 뷰티스타
								span.user_name 강감찬
									span.branch 신구로 (영)
							span.like_cnt 152
							span.update_time 2월 13일
						p.txt 방판교육팀 담당자입니다. 여러분들에 소중한 의견반영 하도록 하겠습니다~!
				a.reply_more(href='javascript:;') 댓글 더보기


		// ui script load
		include ../../inc/scripts.jade
		script.
			$('.view_content .report').on('click', function( event ){
				event = event || window.event;
				function report() {
					console.log('Y'); //$.confirm 함수 Y메세지
				}
				$.confirm('신고하시겠습니까?', report);
			});
